#jobs {
	list-style-type: none;
}

#jobs li	 
{
	float:left;
	border: 1px solid back;
	border-radius: 5px;
	margin:2px;
	background-color:gray;
	float:left;
	padding:6px;
	vertical-align:middle;
	text-align:center;
}

#jobs li.running 
{
	background-color: purple;
}

#jobs li.runned
{
	background-color: blue;
}

#jobs li.success
{
	background-color: green;
}

#jobs li.error
{
	background-color: red;
}