<h2>Benchmark infos</h2>

<table class='procinfo table table-striped'>
	<tr ng-repeat="(key,value) in infos">
		<td class='key'>{{key}}</td>
		<td class='value'>{{value}}</td>
	</tr>
</table>

<h2>Versions</h2>

<table class='procinfo table table-striped'>
	<tr ng-repeat="(key,value) in versions">
		<td class='key'>{{key}}</td>
		<td class='value'><pre>{{value}}</pre></td>
	</tr>
</table>

<h2>Configs</h2>

<table class='procinfo table table-striped'>
	<tr ng-repeat="(key,value) in configs">
		<td class='key'>{{key}}</td>
		<td class='value'><pre>{{value}}</pre></td>
	</tr>
</table>

<h2>CPU info</h2>

<table class='procinfo table table-striped'>
	<thead>
		<tr>
			<th>Field</th>
			<th>Value</th>
		</tr>
	</thead>
	<tr ng-repeat="(key,value) in cpuinfo">
		<td class='key'>{{key}}</td>
		<td class='value'>{{value}}</td>
	</tr>
</table>

<h2>Host topology</h2>

<hwloclstopo />
