<center>
<div class="btn-group" role="group" aria-label="...">
  <div class="btn-group" role="group">
	<button type="button" class="btn btn-default" ng-click="selected = modes[(selected.id - 1)%modes.length]; redraw();">&lt;</button>
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {{selected.version}} {{selected.mode}} {{selected.variant}}
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li ng-repeat="value in modes"><a ng-click="selected = value; redraw();">{{value.version}} {{value.mode}} {{value.variant}}</a></li>
    </ul>
  </div>
  <button type="button" class="btn btn-default" ng-click="selected = modes[(selected.id + 1)%modes.length]; redraw();">&gt;</button>
</div>
</center>

<highchart id="chartNodes" config="chartNodes"></highchart>

<highchart id="chartSize" config="chartSize"></highchart>

<highchart id="chartCredits" config="chartCredits"></highchart>

<highchart id="chartFreq" config="chartFreq"></highchart>

<highchart id="chartChan" config="chartChan"></highchart>

<highchart id="chartRandom" config="chartRandom"></highchart>

<!-- Trigger the modal with a button -->
<button type="button" class="btn" data-toggle="modal" data-target="#streamDataModal" style='margin:auto' ng-click="streamData = txtNodes">Node scalabilty</button>
<button type="button" class="btn" data-toggle="modal" data-target="#streamDataModal" style='margin:auto' ng-click="streamData = txtSize">Size parameter</button>
<button type="button" class="btn" data-toggle="modal" data-target="#streamDataModal" style='margin:auto' ng-click="streamData = txtCredits">Credit parameter</button>
<button type="button" class="btn" data-toggle="modal" data-target="#streamDataModal" style='margin:auto' ng-click="streamData = txtFreq">Frequency parameter</button>
<button type="button" class="btn" data-toggle="modal" data-target="#streamDataModal" style='margin:auto' ng-click="streamData = txtChan">Channels parameter</button>
<button type="button" class="btn" data-toggle="modal" data-target="#streamDataModal" style='margin:auto' ng-click="streamData = txtRandom">Random ratio</button>

<!-- Modal -->
<div id="streamDataModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h4 class="modal-title">Stream Data</h4>
		</div>
		<div class="modal-body">
			<pre>{{streamData}}</pre>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		</div>
		</div>
	</div>
</div>