<highchart id="chartStream" config="chartStream"></highchart>

<!-- Trigger the modal with a button -->
<button type="button" class="btn" data-toggle="modal" data-target="#streamDataModal" style='margin:auto'>Get data</button>

<!-- Modal -->
<div id="streamDataModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h4 class="modal-title">Stream Data</h4>
		</div>
		<div class="modal-body">
			<pre>{{streamData}}</pre>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		</div>
		</div>
	</div>
</div>