<highchart id="compareChart" config="compareChart"></highchart>

<highchart id="chartSize1" config="chartSize1"></highchart>

<highchart id="chartOnfly1" config="chartOnfly1"></highchart>

<highchart id="chartNodes1" config="chartNodes1"></highchart>

<highchart id="chartSize2" config="chartSize2"></highchart>

<highchart id="chartOnfly2" config="chartOnfly2"></highchart>

<highchart id="chartNodes2" config="chartNodes2"></highchart>
