@import url(//fonts.googleapis.com/css?family=Open+Sans:400,700);

.trend svg {
  font: 14px 'Open Sans';
}

.trend .axis path,
.trend .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.trend .axis text {
  fill: #000;
}

.trend .axis .tick line {
  stroke: rgba(0, 0, 0, 0.1);
}

.trend .area {
  stroke-width: 1;
}

.trend .area.outer,
.trend .legend .outer {
  fill: rgba(230, 230, 255, 0.8);
  stroke: rgba(216, 216, 255, 0.8);
}

.trend .area.inner,
.trend .legend .inner {
  fill: rgba(127, 127, 255, 0.8);
  stroke: rgba(96, 96, 255, 0.8);
}

.trend .median-line,
.trend .legend .median-line {
  fill: none;
  stroke: #000;
  stroke-width: 3;
}

.trend .legend .legend-bg {
  fill: rgba(0, 0, 0, 0.5);
  stroke: rgba(0, 0, 0, 0.5);
}

.trend .marker.client .marker-bg,
.trend .marker.client path {
  fill: rgba(255, 127, 0, 0.8);
  stroke: rgba(255, 127, 0, 0.8);
  stroke-width: 3;
}

.trend .marker.server .marker-bg,
.trend .marker.server path {
  fill: rgba(0, 153, 51, 0.8);
  stroke: rgba(0, 153, 51, 0.8);
  stroke-width: 3;
}

.trend .marker path {
  fill: none;
}

.trend .legend text,
.trend .marker text {
  fill: #fff;
  font-weight: bold;
}

.trend .marker text {
  text-anchor: middle;
}



