/*****************************************************
             PROJECT  : lhcb-daqpipe
             VERSION  : 2.5.0-dev
             DATE     : 12/2017
             AUTHOR   : Valat Sébastien - CERN
             LICENSE  : CeCILL-C
*****************************************************/

.section {
	overflow: hidden;
    clear: both;
}

h1 {
	text-align:center;
}

.daqpipe-gather-rank {
	float:left;
	width:100px;
	border: solid 1px white;
	background-color:gray;
	margin:10px;
}

.daqpipe-gather-unit {
	width:80px;
	border: solid 1px white;
	margin:10px;
}

.daqpipe-gather-ressource {
	margin:auto;
	width:78px;
	height:40px;
	border:solid 1px black;
}

.daqpipe-gather-ressource.active {
	background-color:green;
}

.daqpipe-gather-ressource.inactive {
	background-color:red;
}
