/*****************************************************
             PROJECT  : lhcb-daqpipe
             VERSION  : 2.5.0-dev
             DATE     : 12/2017
             AUTHOR   : Machen Jon - Intel
             LICENSE  : CeCILL-C
*****************************************************/

.section {
	overflow: hidden;
	clear: both;
}

h1 {
	text-align:center;
}

.daqpipe-histogram {
        min-width: 310px; 
        margin: 0 auto;
}

.daqpipe-histogram-rank {
	float:left;
	width:100px;
	border: solid 1px white;
	background-color:gray;
	margin:10px;
}

.daqpipe-histogram-unit {
	width:80px;
	border: solid 1px white;
	margin:10px;
}

.daqpipe-histogram-resource {
	margin:auto;
	width:78px;
	height:40px;
	border:solid 1px black;
}

.daqpipe-histogram-resource.active {
	background-color:green;
}

.daqpipe-histogram-resource.inactive {
	background-color:red;
}
