#tab {
	border: 1px solid #666;
	margin: auto;
}

td,th,tr{
	border: 1px solid #666;
	padding: 10px 10px 10px 10px;
	align: center;


}
.cell{
	border: 1px solid #666;
	padding: 5px 5px 5px 5px;
	font-weight: 2px;
}