/*****************************************************
             PROJECT  : lhcb-daqpipe
             VERSION  : 2.5.0-dev
             DATE     : 12/2017
             AUTHOR   : Valat Sébastien - CERN
             LICENSE  : CeCILL-C
*****************************************************/

.axis .domain {
	fill: none;
    stroke: rgb(153, 153, 153);
	color: rgb(153, 153, 153);
    stroke-width: 1px;
}

.axis .tick line {
	stroke:#999;
	stroke-width: 1px;
}

.axis .tick text {
	font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
￼    color: #999;
	stroke:#999;
￼    line-height: 14px;
￼    font-weight: bold;
}

.d3-tip {
	font-size:17px;
}